# IntelliJ
.idea/
*.iml

# Build output
target/*
!target/ai-service-1.0.jar

# macOS
.DS_Store

# local dev-only
.ai-kafka-env/
docker-compose*.yml
prometheus.yml

# env
src/main/resources/application.yml
